.App {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.question-container {
  margin: 20px auto;
  width: 50%;
  border-radius: 5px;
  @media (max-width: 768px) {
    width: 60%;
  }
  @media (max-width: 700px) {
    width: 100%;
  }
}
.question {
  padding: 15px;
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
}

.question > h2 {
  font-size: 20px;
}

.options {
  list-style-type: none;
  padding: 0;
}
.options > li > button {
  margin-bottom: 10px;
  width: 100%;
}
button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.question-header {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 10px 20px;
  font-size: 20px;
  padding: 10px;
}
.hint {
  background-color: #ddd;
  padding: 5px;
  margin: 10px 25px;
  border-radius: 5px;
  text-align: center;
}
.answer {
  background-color: lightgreen;
}
.incorrect {
  background-color: red;
}
.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 5px;
  background-color: #ddd;
  padding: 5px;
  width: 50px;
  font-size: medium;
}
.time {
  width: 20px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.result-container {
  text-align: center;
  width: 50%;
  border: 2px solid #ddd;
  border-radius: 10px;
  @media (max-width: 500px) {
    margin: 0px 20px;
    width: 100%;
  }
}
.result-header {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  margin-top: 0px;
  padding: 10px;
  background-color: antiquewhite;
}
.quiz-complete {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.start-button {
  margin-bottom: 10px;
}

ol > li {
  padding-left: 0px;
  line-height: 30px;
}

.quiz-container {
  width: 40%;
  border: 2px solid #ddd;
  padding-left: 0px;
  border-radius: 10px;
  @media (max-width: 768px) {
    margin: 0px 20px;
    width: 100%;
  }
}
.instructions {
  padding-left: 25px;
}
.start-button {
  margin-left: 20px;
}
